.layout-dashboard{
    text-align: center;
    margin-bottom: 2%;
}

th, td{text-align: center !important;}

.add-button{
    position: fixed;
    bottom: 100px;
    right: 100px;
}

::ng-deep .p-panel-header{
    background-color: blue !important;
}

::ng-deep .p-panel-title{
    color: white;

}

.cards{background-color: #21E2F1;}

